.item__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

  .item-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    margin: 20px;
    box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.2);
    background-color: #fff;
    border-radius: 115px 115px 10px 10px;
    position: relative;
    height: 360px;

    &__id {
      padding: 15px 0;
    }

    &__title {
      text-align: center;
      padding: 0 15px 15px 15px;
      font-size: 16px;
    }

    &__img {
      width: 100%;
      border-radius: 50%;
      cursor: pointer;
    }
    
    &__btn {
      position: absolute;
      bottom: 0;
      margin-bottom: 15px;
      @include custom_btn;
    }
  }
}
