.pagination {
  display: flex;
  padding-bottom: 15px;
  font-weight: 600;
  & li {
    cursor: pointer;
  }
  & li a {
    padding: 0 10px;
  }
  .active__page {
    border-radius: 50px;
    background-color: blue;
    color: #fff;
  }

  .previous,
  .next {
    @include custom_btn;
    margin: 0 10px;
  }

  .disabled {
    color: rgb(153, 150, 150);
    pointer-events: none;
  }
}
